:host {
    display: block;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    //background-color: #f9f9f9;
    //background-color: #aaa4a4;
    background-color: #8c8383;
    min-height: 100vh;
  }
  
  h1 {
    color: white;
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-left: 5px solid #4CAF50;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
    
    display: flex;           
    align-items: center;     
    gap: 10px;   

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
  }
  
  li::before {
    margin-right: 8px;
    font-size: 1.2rem;
  }
  
  .cycle {
    width: 45px;
    margin-right: 18px;
  }

  button.delete {
    background-color: #413d3d;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: auto;
  }